extends layouts/main.pug
block content
    if productos
        table(class="table")
            head
                tr
                    th #
                    th Title
                    th Price
                    th Thumbnail
                tr
            body
                each producto in productos
                    tr
                        td=producto.id
                        td=producto.title
                        td=producto.price
                        td: img(src=producto.thumbnail width="30")/
    else if error
        div(class="alert"): strong=error